#page{
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

}

#user-details{
    padding: 2%;
    width: 75%;
    background: white;
    border-radius: 15px;
    box-shadow: 3px 9px 9px rgba(1,1,1,.2);
    display: flex;

   
}

.user-info{
    padding: 1% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-image{
    width: 19%;

}

.rating-section{
    text-align: center;
    display: flex;
    margin-left: 15rem;
    flex-direction: column;
    justify-content: center;

}

.star-section{
    display: flex;
}

.rate:hover{
    cursor: pointer;
}

.sceances{
    padding: 3%;
    width: 75%;
    min-height: 55vh;
    background: white;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 3px 9px 9px rgba(1,1,1,.2);
    display: flex;
    flex-direction: column;
}


.sceance{
    display: flex;
    width: 100%;
    align-items: center;
    height: 7vh;
    padding: 0 3%;
}

.titre{
    width: 15%;
    background: rgb(219, 219, 219);
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.jour{
    width: 15%;
    height: 100%;
    background: rgb(239, 239, 239);

    display: flex;
    align-items: center;
    justify-content: center;

}

.duree{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(219, 219, 219);
    height: 100%;
    
}

.capacite{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgb(239, 239, 239);

    align-items: center;
}

.etat{
    width: 15%;
    background: rgb(219, 219, 219);
    height: 100%;
    justify-content: center;

    display: flex;
    align-items: center;
}

.cta{
    width: 20%;
    height: 100%;
    background: rgb(239, 239, 239);
    display: flex;
    justify-content: space-around;
    align-items: center;
}