<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-sidenav-container >
    <mat-sidenav mode="side" opened>
        <div id="logo">
            <a id="logohref">
                <img class="fit-picture"
                src="https://allemmni.com/upaxykra/2020/10/222265595.png"
                alt="Grapefruit slice atop a pile of other slices">
            </a>
        </div>
        <hr>
        <mat-nav-list>
            <div *ngIf="connected=='true'">
                <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" alt="">
                <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
            </div>
            <a mat-list-item routerLink="/login" *ngIf="connected=='false'"><span class="material-icons">
                login
                </span>Login</a>
            <a mat-list-item routerLink="/signup" *ngIf="connected=='false'"><span class="material-icons">
                design_services
                </span>Sign up</a>
            <a mat-list-item routerLink="/publications"><span class="material-icons">
                description
                </span>Publications</a>
            <a mat-list-item routerLink="/dashboard"
             *ngIf="connected=='true' && currentUser.role=='ENSEIGNANT'"><span class="material-icons">
                leaderboard
                </span>Demandes</a>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>


